.main-footer {
    position: relative;
    color: #ffffffad !important;
}

.main-footer .has-line-center:after {
    width: 30px;
    background: white;
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    margin: 15px auto;
}

.main-footer h3 {
    color: #fff;
    font-size: 20px;
    margin: 30px 0 25px;
    position: relative;
}

.main-footer .widgets-section {
    position: relative;
    color: #bbb;
    padding: 50px 0 80px;
    border-bottom: 1px solid hsla(0, 100%, 50%, 0.87);
}

.main-footer .footer-widget {
    position: relative;
}

.main-footer .about-widget .text,
.main-footer .newsletter-widget .text {
    position: relative;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.9em;
}


.social-links,
.social-links li {
    display: flex;
    list-style: none;
    position: relative;
}
.social-links{
    display: flex;
}

.social-links li {
    display: inline-block;
    margin-right: 5px;
    margin: 0 2px;
}

.social-links li a {
    position: relative;
    display: block;
    line-height: 38px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 13px;
    transition: all 0.5s ease;
}

.social-links li a:hover {
    color: #fff;
}

.main-footer .about-widget .contact-info {
    margin-bottom: 30px;
}

.main-footer .contact-info li {
    position: relative;
    display: block;
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 24px;
}

.main-footer .contact-info li .icon {
    position: relative;
    font-size: 32px;
    margin: 0 auto 20px;
    line-height: 36px;
    color: #b06ab3;
}

.main-footer .contact-info li:last-child {
    margin-bottom: 0;
}

.main-footer .footer-bottom {
    position: relative;
    padding: 18px 0;
    color: #ccc;
    background: #020a27;
    line-height: 24px;
    text-align: center;
}

.main-footer .newsletter-widget {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}

.main-footer .newsletter-widget .form-group {
    position: relative;
    margin: 0;
}

.main-footer .newsletter-widget input[type="email"] {
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 10px 40px 10px 25px;
    height: 48px;
    font-size: 14px;
    color: #fff;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    background: none;
    border-radius: 24px;
    transition: all 0.5s ease;
}

.main-footer .newsletter-widget .send-btn {
    position: absolute;
    right: 10px;
    top: 0;
    width: 50px;
    height: 48px;
    outline: none;
    border: none;
    line-height: 48px;
    text-align: center;
    color: #b06ab3;
    font-size: 16px;
    background: none;
    cursor: pointer;
}

.main-footer .links-widget .list li {
    position: relative;
    margin-bottom: 12px;
}

.main-footer .links-widget .list li a {
    position: relative;
    display: block;
    line-height: 24px;
    padding: 0 0 0 25px;
    color: #aaa;
    text-transform: capitalize;
}