#new-item-card-row{
    margin-top: 50px;
    margin-bottom: 100px;
}

.new-item-heading{
    text-align: center !important;
    margin-top: 100px !important;
}

.new-item-checkbox{
    height: 10px !important;
    width: 10px !important;
    color: grey;
}

/* General Card CSS */

#new-item-form-error{
    color: cyan;
    font-size: smaller;
}

#new-item-card{
    min-height: 540px;
    max-height: 540px;
    overflow-y: scroll;
    border-radius: 25px ;
    background-color: #0B1126;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 50px;
}
.form__card__container{
    border-radius: 25px !important;
    background-color: #0B1126 !important;
    padding-bottom: 30px !important;
    padding-top: 30px;
    margin-top: 50px;
    margin-bottom: 5rem;
}

/* Customized Scrollbar */

  ::-webkit-scrollbar {
    width: 2px;
  }
  
  Track
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0B1126; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0B1126; 
  }

.new-item-card-subtitle{
    color: white;
}

.new-item-card-text{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.new-item-card-button-div{
    text-align: center;
}


.new-item-card-social{
    background-color: #0B1126 !important;
} 

.new-item-badge{
    font-size: medium !important;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 15px;
}

/* Preview Card */

.new-item-image{
    margin-left: 20px;
    margin-right: 20px;
}

#new-item-card-username{
    text-align: center;
}

#new-item-card-info{
    text-align: center;
    color: grey;
}

#new-item-card-account{
    color: grey;
    text-align: center;
    font-weight: bold;
}

.new-item-preview-price{
    color: white;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.new-item-accountbox{
    margin-top: 50px;
    border-radius: 10px;
    border: solid 2px gray;
    padding: 5px;
    padding-left: 20px;
}

/* Create Item Card */

.new-item-card-button{
    background-image: linear-gradient(to right, violet, #A44BC7, blue, rgb(41, 41, 136));
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px !important;
}

.new-item-dropbox{
    margin-top: 30px;
    border-radius: 10px;
    height: 180px;
    border: dashed 2px gray;
}

.new-item-switch-label{
    color: white;
    margin-right: 15px;
}

.new-item-date-time-label{
    color: white;
}

/* Text Beautification */

.rainbow-lr {
    background: linear-gradient(to right, #A44BC7, cyan, blue, violet);
    color:transparent;
    background-clip: text;
}
.rainbow-td {
    background: linear-gradient(to bottom, red, orange , yellow, green, cyan, blue, violet);
    color:transparent;
    background-clip: text;
}

.sidebar__heading{
    color: white;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.selected_items_div{
    margin-top: 2rem;
    border-top: 2px solid #666;
}

.rdtPicker, .date_time_input{
    background-color: #0B1126 !important;
    color: #fff;
}

.rdtNext:hover,.rdtPrev:hover, .rdtSwitch, .rdtCounter .rdtBtn:hover {
    background: #243c94 !important;
}