#digital-asset-card{
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
    border-radius: 25px ;
    background-color: #0B1126;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 50px;
}

#digital-asset-card-detail{
    border-radius: 25px ;
    background-color: #0B1126;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 50px;
}

.digital-asset-card-detail-container{
    margin-bottom: 100px;
}