#singup_form_card{
    border-radius: 2rem ;
    background-color: #0B1126;
    padding: 3rem;
    padding-top: 2.5rem;
}
.form_grp{
    margin-bottom: 1.5rem;
}

.form_heading_row{
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 450;
}

.form_input_label{
    color: #ffff;
}

.form_input_field, .select__control, .select__menu, .select__single-value{
    background-color: #03091F !important;
    color: #fff !important;
    border-width: 0px !important;

}

.login_image{
   height: 20rem;
   width: auto;
   border-radius: 1rem;
   margin-left: auto;
   margin-right: auto;
   display: inherit;
   overflow: hidden;
}
.login_form{
    margin-top: 0.4rem;
}
.main_heading__form{
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 0.8rem;
}
.main_heading_secondary{
    font-size: 1.5rem;
    color:#f76e43;
    margin-bottom: 1.4rem;
}

.form__text--para{
    color: #fff;
}
.input_checkbox{
    margin-right: .5rem;
    margin-top:0.5rem;
}
.muted_text{
    color:#6c757d;
}
.success_text{
    color: #28a745;
}
.invalid__feedback{
    color: #dc3545;
}
.light__blue{
    color: cornflowerblue;
}